body.dark-theme {
  background-color: black;
  color: white;
}

body.light-theme {
  background-color: white;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(180deg, transparent, purple); /* Gradient background */
  background-size: 100% 0; /* Initial background size */
  background-position: bottom; /* Start the gradient from the bottom */
  color: white;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-size 0.3s; /* Transition for the background size */
}

.btn:hover {
  background-size: 100% 100%; /* Expand the background size on hover */
}

.theme-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

